.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.form-select:focus {
    border-color: #ced4da;
    box-shadow: none;
}